# Основные библиотеки для анализа данных
pandas==2.2.3
numpy==2.1.3

# Финансовые индикаторы
ta==0.11.0

# Модели машинного обучения
scikit-learn==1.5.2
joblib==1.4.2

# Графики и визуализация
matplotlib==3.9.2

# Утилиты для отслеживания прогресса
tqdm==4.67.0